@import "variables", "functions", "mixins";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, $color1-opac 0, $color2-opac 100%),
        url(../../images/jumbotron-background.jpg) fixed center center no-repeat;
    color: $fontLight;
}

.footer,
.copyright {
    background: #232323;
}

.company-info {
    background: $color5;
}

.tours {
    background: #ffffff;
}

.navbar {
    background: transparent;
}

.navbar-solid {
    background: #ffffff;
    color: $fontDark;
    transition: all 0.5s ease-in-out;

    a {
        color: $fontDark;
    }
}

/* NAVBAR TOGGLER */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    border: none;
    outline: none;
}

/* JUMBOTRON */
.jumbotron {
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    background: transparent;
}

/* BACK TO TOP BUTTON */
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

/* LINKS */
a {
    color: $fontLight;
}

/* BUTTONS */
.btn {
    background: $color5;
    border: none;
    border-radius: 10rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    // Medium Width for Bootstrap
    .navbar {
        background: $color3;
        color: $fontDark;
        top: 0;
    }
    a {
        color: $fontDark;
    }
    .social {
        display: none;
    }
}
