@import "variables", "functions", "mixins";

/*----------------------------------------------------
------------------------------- Table of Contents ----
------------------------------------------------------

1. General
    1.1. Universal
    1.2. Body
2. Navigation
    2.1. Navbar
    2.2. Navbar Toggler
3. Home Page
    3.1. Jumbotron
    3.2. About
    3.3. Tours
      3.3.1. Tour Card
      3.3.2. Tour Caption
    3.4. Reviews
      3.4.1. Carousel Inner
      3.4.2. Carousel Indicators
4. Tours Page
5. Booking Page
6. Footer
7. Copyright
8. Components
9. Media Queries

*/

/*---------------------------------- 1. General ----*/

/*-- 1.1. Universal --*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*-- 1.2. Body --*/
body {
  color: $white;
}

/*------------------------------- 2. Navigation ----*/

/*-- 2.1. Navbar --*/
.navbar {
    background: $color2;
}

/*-- 2.2. Navbar Toggler --*/
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  border: none;
  outline: none;
}

/*-------------------------------- 3. Home Page ----*/

/*-- 3.1. Jumbotron --*/
.jumbotron {
  height: 100vh;
  min-height: 40rem;
  padding: 72px 0 0 0;
  background: linear-gradient(to bottom, $color1-opac 0, $color2-opac 100%),
    url(../../images/jumbotron-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

/*-- 3.2. About --*/
.company-info {
  background: #ffffff;
}

/*-- 3.3. Tours --*/
.tours {
  background: #ffffff;
}

/*-- 3.3.1. Tour Card --*/
.tour-card {
  position: relative;
  display: block;
}

/*-- 3.3.2. Tour Caption --*/
.tour-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  color: $white;
  background: $color5-opac;
  transition: opacity 0.25s ease;

  &:hover {
    opacity: 1;
  }
}

/*-- 3.4. Reviews --*/
.reviews {
  background: $color1;
  color: $white;
}

/*-- 3.4.1. Carousel Inner --*/
.carousel-inner {
  margin-bottom: 5rem;
  height: 200px;
}

/*-- 3.4.2. Carousel Indicators --*/
.carousel-indicators {
  bottom: -50px;

  li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
}

/*------------------------------- 4. Tours Page ----*/


/*----------------------------- 5. Booking Page ----*/


/*----------------------------------- 6. Footer ----*/


/*-------------------------------- 7. Copyright ----*/
.custom-flex-between {
  display: flex;
  justify-content: space-between;
}

/*------------------------------- 8. Components ----*/
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}

/* LINKS */
a {
  color: $white;

  &:hover {
    color: $color5;
    text-decoration: none;
  }
}

.active-link {
  color: $color5;
}

/* BUTTONS */
.btn {
  background: $color5;
  color: $white;
  font-size: 16px;
  border: none;
  border-radius: 10rem;
  max-width: 105.183px;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

/* INPUTS */
.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
}

/* DIVIDER */
.divider {
  width: 3.25rem;
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $color5;
}

/* CONTACT ICONS */
.custom-align-middle {
  vertical-align: middle;
}

/* FORM */
form {
  max-width: 500px;
}

/*-- Custom Spacer --*/
.custom-spacer {
  height: 96px;
}

.custom-tour-width {
  max-width: 100px;
}

/*---------------------------- 9. Media Queries ----*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .social-icons {
    display: none;
  }

  .info-center {
    margin: 0 auto;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .jumbo-para-margin {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .carousel-inner {
    padding: 0 5rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  h1 {
    font-size: 3.5rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}
